@import url("./styles.css");
* {
    padding: 0;
    margin: 0;
}

main{
    height: 100vh;
    background-color: var(--body-color);
    
}

.contenedor {display: flex;
    align-items: center;
    width: 860px;
    height: 360px;
    margin: 0 auto;
    
    position: relative;
    background: linear-gradient(#b7d6c7 0%, transparent 60%, transparent 80%,  #6d757e 100%) #ffe2d1;/*linear-gradient(#90ebff, white);*/
    transition: background-color 1s linear;
    overflow: hidden;
}

.mediodia {
    background-color: #ffdcf3;
}

.tarde {
    background-color: #ffadad;
}

.noche {
    background-color: #aca8c7;
}

.caballero {
    width: 84px;
    height: 85px;

    position: absolute;
    bottom: 54px;
    left: 42px;
    z-index: 2;

    background: url(../img/caballero.png) repeat-x 0px 0px;
    background-size: 336px 84px;
    background-position-x: 0px;

}

.caballero-corriendo {
    animation: animarcaballero 0.25s steps(2) infinite;
}
.caballero-estrellado {
    background-position-x: -252px;
}

.suelo {
    width: 500%;
    height: 70px;

    position: absolute;
    bottom: 0;
    left: 0;

    background: url(../img/suelo.png) repeat-x 0px 0px;
    background-size: 50% 42px;
  

}


.obstaculo{
    width: 100%;
    height: 100%;

    position: absolute;
    left: 600px;
    z-index: 1;

}

.obstaculo-flotante{
    bottom: 45px;
    width: 60px;
    height:60px;
    background: url(../img/sprite1.png)  no-repeat;
    animation: abanear 1s ease-in-out infinite;
}

.obstaculo-hundido{
    bottom: 45px;
    width: 60px;
    height: 60px;
    background: url(../img/sprite2.png)  no-repeat;
}

.nube{
    width: 92px;
    height: 26px;

    position: absolute;
    z-index: 0;

    background: url(../img/nube.png) no-repeat;
    background-size: 92px 26px;
}

.moneda{
    width: 48px;
    height: 48px;
    position: absolute;
    z-index: 1;
    
    background: url(../img/dumplings.png) no-repeat center center;
}

.score{
    width: 100px;
    height: 30px;

    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 10;

    color: #d48871;
    font-family: Verdana;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

.game-over{
    display: none;

    width: 100%;
    position: absolute;
    z-index: 10;


    text-align: center;
    color: #7e928b;
    font-size: 30px;
    font-family: Verdana;
    font-weight: 700;
}
/*

@keyframes animarcaballero{
    from{
        background-position-x: -84px;
    }
    to{
        background-position-x: 252px;
    }
}



@keyframes oleaje{
    0%,100%{
        bottom: 0px;
    }
    50%{
        bottom: -10px;
    }

   
} */